<a class="flex items-center gap-2" href="#">
    <img src="assets/favicon-32x32.png" alt="Caviar Scout" width="32" height="32" />
    <span class="text-surface-900 dark:text-surface-0 font-medium text-2xl leading-normal mr-4" style="text-wrap: nowrap">CAVIAR SCOUT</span>
</a>

<a pButton [text]="true" severity="secondary" [rounded]="true" pRipple class="block lg:hidden" pStyleClass="@next" enterFromClass="hidden" leaveToClass="hidden" [hideOnOutsideClick]="true">
    <i class="block lg:hidden pi pi-bars text-2xl"></i>
</a>

<div class="items-center bg-surface-0 dark:bg-surface-900 grow justify-between hidden lg:flex absolute lg:static w-full left-0 top-full px-12 lg:px-0 z-20 rounded-border">
    <!-- <ul class="list-none p-0 m-0 flex lg:items-center select-none flex-col lg:flex-row cursor-pointer gap-8">
        <li>
            <a (click)="router.navigate(['/landing'], { fragment: 'home' })" pRipple class="px-0 py-4 text-surface-900 dark:text-surface-0 font-medium text-xl">
                <span>{{ 'landing.home' | translate }}</span>
            </a>
        </li>
        <li>
            <a (click)="router.navigate(['/landing'], { fragment: 'features' })" pRipple class="px-0 py-4 text-surface-900 dark:text-surface-0 font-medium text-xl">
                <span>{{ 'landing.features' | translate }}</span>
            </a>
        </li>
        <li>
            <a (click)="router.navigate(['/landing'], { fragment: 'pricing' })" pRipple class="px-0 py-4 text-surface-900 dark:text-surface-0 font-medium text-xl">
                <span>{{ 'landing.pricing' | translate }}</span>
            </a>
        </li>
    </ul> -->
    <div class="flex flex-col lg:flex-row border-t lg:border-t-0 border-surface py-4 lg:py-0 mt-4 lg:mt-0 gap-2 ml-auto">
        <button pButton pRipple [label]="'auth.login' | translate" (click)="login()" [rounded]="true" [text]="true"></button>
        <button pButton pRipple [label]="'auth.register' | translate" (click)="register()" [rounded]="true"></button>
        <app-floating-configurator [float]="false" style="z-index: 999" />
        <app-language-switcher></app-language-switcher>
    </div>
</div>
