<div class="p-card">
    <div class="p-card-title">Upload Video</div>
    <div class="p-card-content">
        <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col-12">
                <label for="athleteSelect">Select Athlete</label>
                <p-dropdown id="athleteSelect" [options]="athletes" [(ngModel)]="selectedAthlete" optionLabel="name" placeholder="Select an Athlete" [filter]="true"></p-dropdown>
            </div>

            <div class="p-field p-col-12">
                <label for="videoTitle">Video Title</label>
                <input id="videoTitle" type="text" pInputText [(ngModel)]="videoTitle" />
            </div>

            <div class="p-field p-col-12">
                <label for="videoDescription">Description</label>
                <textarea id="videoDescription" pInputTextarea [(ngModel)]="videoDescription" rows="5" cols="30"></textarea>
            </div>

            <div class="p-col-12">
                <p-fileUpload name="videofiles[]" customUpload="true" (uploadHandler)="onUpload($event)" accept="video/*" maxFileSize="100000000" multiple="true" chooseLabel="Browse" uploadLabel="Upload" cancelLabel="Clear">
                    <ng-template pTemplate="content">
                        <ul *ngIf="selectedAthlete && videoTitle">
                            <li>Selected Athlete: {{ selectedAthlete.name }}</li>
                            <li>Video Title: {{ videoTitle }}</li>
                        </ul>
                        <div *ngIf="!selectedAthlete || !videoTitle" class="p-message p-message-info">
                            <div class="p-message-wrapper">
                                <span class="p-message-icon pi pi-info-circle"></span>
                                <div class="p-message-text">Please select an athlete and enter a video title before uploading.</div>
                            </div>
                        </div>
                    </ng-template>
                </p-fileUpload>
            </div>
        </div>
    </div>
</div>
<p-toast></p-toast>
